#set ($css_class = "${css_class} dockbar-split")


#set ($loginPortletUrl = $portletURLFactory.create($request, "58", $getterUtil.getLong($plid), "RENDER_PHASE"))
$loginPortletUrl.setParameter("p_p_state", "exclusive")