<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
	
	#js("$javascript_folder/vendor/jquery-1.11.3.min.js")
	#js("$javascript_folder/vendor/jquery-ui.js")
	#js("$javascript_folder/vendor/slick.js")
	#js("$javascript_folder/vendor/isotope.pkgd.js")
	
	
	
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<div class="container-fluid" id="wrapper">
	
	<div class="container">
		<div class="row">
			
			<header id="banner" role="banner">
				<div id="heading">
					<h1 class="site-title">
						<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
							<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
		
							#if ($show_site_name)
								<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
									$site_name
								</span>
							#end
						</a>
		
					</h1>
		
					<h2 class="page-title">
						<span>$the_title</span>
					</h2>
				</div>
		
				#if ($has_navigation || $is_signed_in)
					#parse ("$full_templates_path/navigation.vm")
				#end
			</header>
			
		</div>
	</div>
	
	<div id="content">
		#if (false)
		<div class="container">
			<div class="row" style="border: 1px solid black">
				<nav id="breadcrumbs">#breadcrumbs()</nav>
			</div>
		</div>
		#end
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<div class="row-fluid">
		<div class="container">
			<div class="row">
				<footer id="footer" role="contentinfo">
				</footer>
			</div>
		</div>
	</div>


	
</div>

#js ("$javascript_folder/vendor/jquery.cookiebar.js")

$theme.include($body_bottom_include)

$theme.include($bottom_include)




</body>

</html>