.aui{
	.portlet-configuration {
		.lfr-panel-content {
			padding: 0 1em;
		}
	
		.advanced-settings-wrapper{
			margin-left: 20px;
		}
		.advanced-settings-link, .advanced-settings-label{
			color: #555;
			font-weight: bold;
			display: block;
			font-size: 18px;
			margin-bottom: 20px;
		}
	
		.advanced-settings-label{
			font-size: 16px;
		}
	
		fieldset.rows-container {
			border-width: 0;
			margin-top: 0;
		}
	
		.editing-disabled dt {
			color: #555;
			float: left;
			font-weight: bold;
			width: 200px;
		}
		
		.editing-disabled dd{
			margin-left: 200px;
			.control-group {
				margin-bottom: 5px;
			}
			.input-localized{
				display: block;
			}
		}
		dl.editing-disabled{
			margin-top: 0;
			margin-bottom: 20px;
		}
		  
	
		.lfr-form-row {
		
			.field {
				margin: 0;
			}
			
			.field.onselect-script{
				margin-left: 0;
			}
	
			.field-title {
				color: #555;
				font-size: 120%;
				font-weight: bold;
				padding: 3px;
			}
			.field-style{
			
			}
			.field-style-input{
			}
		}
	
		.syntax-help {
			margin: 0;
		}
	
		.validation {
			clear: left;
		}
	
		.label-name .field-wrapper-content {
			margin-top: 0;
		}
	
		.label-name input, .options input {
			/*width: 200px;*/
		}
		
		.column-content, .column-content-center {
	  		padding: 0;
	  		margin-right: 10px;
		}
	}
	.portlet-configuration.web-form-portlet{
		background-color: rgba(0, 0, 0, 0);
		font-weight: 200;
	}
	.web-form-portlet {
		position: relative;
		background-color: #FFF;
/* 		-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5); */
/* 	    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5); */
/* 	    box-shadow: 0 0 15px rgba(0,0,0,0.5); */
	   
		form, .form-only-notices-wrapper{
			position: relative;
/* 			margin: 40px 30px; */
			.form-wrapper, .form-only-notices{
				padding: 40px 30px;
				color: #111;
				legend.fieldset-legend{
					display: none;
				}
				
				.trainning-form-onsite-fields, .trainning-form-fields, .dietary-requirements, .accessibility-requirements, .special-requirements{
					display: none;
				}
				.form-head{
/* 					margin: 1%; */
					h2#form-title{
						margin-top: 0;
						margin-bottom: 35px;
					}
					p.description{
						margin-bottom: 30px;
						font-size: 16px;
					}
				}
				.form-body{
					.field-wrapper{
/* 						margin: 1%; */
						margin-bottom: 6px;
	/* 					width: 48%; */
						overflow: hidden;
						
						&.field-type-text, &.field-type-options, &.field-type-email, &.field-type-tel {
	/* 						float: left; */
						}
						&.field-type-checkbox, &.field-type-dateTime, &.field-type-fileupload, &.field-type-richText, 
							&.field-type-paragraph, &.field-type-radio, &.field-type-multiple-checkbox{
							
	/* 						clear: both; */
	/* 						width: 100% */
						}
						&.field-type-checkbox, &.field-type-radio{
							.alert-wrapper{
								height: auto;
							}
						}
						&.field-type-postcode, &.field-type-uprn{
	/* 						width: 96%; */
							a.btn{
								  margin-left: 5px;
								  padding-top: 8px;
								  padding-bottom: 8px;
							}
							input[type="text"], input[type="number"]{
								width: auto;
							}
							div.postcode-search-result-wrapper, div.postcode-search{
								display: inline-block;
	/* 							width: 40%; */
							}
							div.postcode-search-result-wrapper{
								margin-left: 15px;
	/* 							width: 55%; */
							}
							  
						}
						&.field-type-paragraph{
							p{
								font-size: 16px;
								font-weight: 600;
							}
							.alert-wrapper{
								height: auto;
							}
						}
						label{
							font-weight: 700;
							color: #111;
							font-size: 16px;
							margin-bottom: 10px;
						}
						label.checkbox, label.radio{
							font-weight: 400;
							margin-left: 1px;
						}
						
						input[type="text"], input[type="number"], input[type="email"], input[type="tel"], select, textarea{
							padding: 10px;
							height: 40px;
							width: 100%;
							box-sizing: border-box;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							-ms-border-radius: 0;
							-o-border-radius: 0;
							border-radius: 0;
							font-weight: 400;
							font-size: 16px;
							margin-bottom: 0;
							color: #303030;
						}
						textarea{
							height: 120px;
						}
						
						.input-error{
							border: 1px solid #b50303 !important;
						}
						
						input:FOCUS, textarea:FOCUS{
							padding: 10px;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							-ms-border-radius: 0;
							-o-border-radius: 0;
							border-radius: 0;
						}
						
						select{
							height: 40px;
							line-height: 40px;
						}
						select.field-blank-option{
							color: rgb(141, 141, 141);
						}
						.control-group {
							margin: 0;
						}
						.alert-wrapper, .control-group.error .help-inline{
							height: 18px;
							margin-top: 2px;
	/* 						float: left; */
						}
						.alert, .control-group.error .help-inline{
							display: inline-block;
							margin: 0;
							background: none;
							padding: 0;
							border: 0;	
							text-shadow: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							-ms-border-radius: 0;
							-o-border-radius: 0;
							border-radius: 0;
							font-size: 13px;
							vertical-align: top;
							line-height: 14px;
	/* 						float: left; */
							
						}
						.control-group.error .help-inline{
							display: none;
						}
						input::input-placeholder, input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder{ 
					    	color: #b4b4b4;
					    	
						}
						
					}
					button.btn-primary{
						font-size: 15px;
						border: none;
						background: none;
						background-color: #00425b;
						text-shadow: none;
						padding: 10px 15px;
					}
				}
			}
		
		}
		
		
		fieldset legend{
			display: none;
		}
		
		form:AFTER{
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 120px;
		    height: 10px; 
		    margin: 0 1%;
		}
		.date-time-group{
			span.lfr-input-date{
				display: inline-block;
			}
			span.lfr-input-date input[type="text"]{
				width: 150px;
			}
			
			span.lfr-input-time{
				display: inline-block;
			}
			span.lfr-input-time input[type="text"]{
				width: 100px;
			}
		}
		
		
		.field-type-hidden{
			display: none !important;
		}
		
		.wizard-step{
			display: none;
		}
		.wizard-step-active{
			display: block;
		}
		
	}
	.btn.wizard-button, .btn.wizard-button:HOVER, .btn.wizard-button:FOCUS{
		color: #FFF;
		background: none;
		background-color: #00425b;
		text-shadow: none;
		font-size: 16px;
		padding: 10px 20px;
		-webkit-box-shadow: none;
		box-shadow: none;
		-moz-box-shadow: none;
		border: none;
	}
	
	
	.btn.wizard-button.submit-button{
		
	}
	
	.btn.wizard-button.next-button{
		
	}
	
	.btn.wizard-button.back-button{
		
	}
}
@media (max-width: 1023px){
	.postcode-search{
							width: 100%;
						}
						.postcode-search-result-wrapper{
							margin-left: 0;
							margin-top: 10px;
							width: 100%;
						}
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (max-width: 1279px){
	
	.web-form-portlet{
		/*margin-left: 10px;
  		margin-right: 10px;*/
		form{
			margin: 0 15px;
			.form-wrapper{
				padding: 20px 0;
				.form-head{
					margin: 0;
					h2#form-title{
						margin-bottom: 20px;
					}
				}
				.form-body{
					.field-wrapper{
						margin: 0;
						margin-bottom: 10px;
						width: 100%;
						overflow: hidden;
						&.field-type-text, &.field-type-options {
							float: none;
						}
						
						/*&.field-type-postcode, &.field-type-uprn{
							width: 96%;
							a.btn{
								  margin-left: 5px;
								  padding-top: 8px;
								  padding-bottom: 8px;
							}
							input[type="text"], input[type="number"]{
								width: auto;
							}
							div.postcode-search-result-wrapper, div.postcode-search{
								display: inline-block;
								width: 100%;
							}
							div.postcode-search-result-wrapper{
								margin-left: 15px;
								width: 55%;
							}
							  
						}*/
						
					}
				} 
			}
		}
		form:AFTER{
			margin: 0;
		}
	}
	
	
	
	/*.web-form-portlet{
		form{
			margin: 0 15px;
			.form-wrapper{
				padding: 20px 0;
				.form-head{
					margin: 0;
					h2#form-title{
						margin-bottom: 20px;
					}
				}
				.form-body{
					.field-wrapper{
						&.field-type-text, &.field-type-options {
							float: none;
						}
					}
				} 
			}
		}
	} */
	
}