@import "compass";
@import "mixins";

@import url(font-awesome.css);
@import url(slick/slick.css);
@import url(slick/slick-theme.css);
@import url(jquery.cookiebar.css);


$darkerGray: #bbbcbc;
$lightGray: #e6e6e6;
.aui {
	/*@include respond-to(phone){
		body{
			background: blue;
		}	
	}
	@include respond-to(tablet){
		body{
			background: red;
		}
	}
	@include respond-to(desktop){
		body{
			background: #FFF;
		}
	}*/
	html{
		padding: 0;
		margin: 0;
	}
	body{
		color: rgb(34, 34, 34);
		padding: 0;
		margin: 0;
		font-family: 'Roboto Condensed', "Trebuchet MS",Trebuchet,"Liberation Sans",sans-serif;
		background-color: #FFF;
		/*background: url('../images/background.jpg');*/
	}
	form {
	  	margin: 0;
	}
	a{
  		color: rgb(34, 34, 34);
	}
	a:hover {
 		color: rgb(34, 34, 34);
	}
	.site-navigation {
  		margin-bottom: 0;
	}
	#wrapper.container-fluid{
		padding: 0;
		margin: 0;
	}
	#navigation {
		.navbar-inner {
			padding: 0;
			margin: 0;
	  		background: none;
	  		border-width: 0;
	  		min-height: 36px;
	  		border-bottom: 1px solid black;
	  		li a {
				color: rgb(34, 34, 34);			  	
				font-size: 18px;
			  	font-weight: 400;
			}
			.nav li.active>a {
			 	 background: none;
			}
		}
	}
	#breadcrumbs {
  		margin-bottom: 0;
	}
	.portlet, .aui .portlet-borderless-container {
  		margin-bottom: 0;
	}
	#main-content{

	}
	.modal.custom-modal{
		@include border-radius(0);
		.modal-header{
			button.close, button.btn.close.close-content{
				background-color: #000;
				border: 2px solid #FFF;
				color: #FFF;
				@include opacity(1);
			
				font-size: 16px;
				@include border-radius(12px);
				height: 24px;
				width: 24px;
				line-height: 16px;
				position: absolute;
				z-index: 1;
				right: -15px;
				top: -15px;
				font-family: 'Avenir Next LT W01 Bold';
				
				@include box-shadow(0 3px 7px rgba(0,0,0,0.3));
				
			}
		}
	}
	.container-fluid{
		padding: 0;
		margin: 0;
	}
	.portlet-column{

	}
	.portlet, .portlet-borderless-container {
  		background: none;
  	}
  	.portlet-column-content.empty {
  		padding: 0;
	}
	.yui3-dd-drop{
		
		&.yui3-dd-drop-active-valid{
			border: 1px dotted #ccc;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&.yui3-dd-drop-active-valid.yui3-dd-drop-over{
			border: 1px dotted #000;
			
		}
	}
	.free-layout-item{
		background-color: #FFF;
		margin-bottom: 30px;
		.free-layout-item-wrapper{
			 border: 1px solid $lightGray;
			 box-sizing: border-box;
			.free-layout-item-image{
				display: block;
			}
			.free-layout-item-caption{
			}
			.free-layout-item-link{
				  margin-top: 20px;
			}
		}
	}
	#footer-wrapper{
		background: #FFF;
		padding: 20px 0;
		border-top: 1px solid $darkerGray;
	}
	#footer {
  		text-align: center;
	}
	footer .social a {
		display: inline-block;
		padding: 8px 10px 12px;
		margin: 0;
		height: 40px;
		position: relative;
		transition: all .1s ease-out;
		-webkit-transition: all .1s ease-out;
		width: 40px;
		img.hover {
			background-color: #f8f8f8;
			height: 40px;
			width: 40px;
			top: 0;
			left: 0;
			@include border-radius(20px);
			opacity: 0;
			position: absolute;
		}
		.hover{
			-webkit-animation-name: Social;
	  		-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 8s;
			-webkit-animation-delay: 0s;
			animation-name: Social;
			animation-iteration-count: infinite;
			animation-timing-function: ease-out;
			animation-duration: 8s;
			animation-delay: 0s;
		}
	}
	
	#cookie-bar{
		p{
			.cb-enable{
			
			}
			.cb-policy{
			}
		}
	}
	.portlet-login{
		width: 600px;
		margin: 0 auto;
		background: #fff;
		border: 1px solid #eee;
		@include border-radius(6px);
		max-width: 600px;
		margin: 40px auto;
		padding: 12px;
		.navigation {
			background: transparent;
			border-top: none;
			padding: 10px;
		}
		form{
		/*text-align: center;*/
		}
		.form-horizontal{
			input, select{
				margin-left: 20px;
			}
			.control-label{
				font-weight: 400;
			}
			#recaptcha_widget_div{
				margin-left: 180px;
			}
		} 
		h1{
			font-size: 24px;
			line-height: 120%;
			text-align: center;
			font-weight: normal;
			margin-bottom: 12px;
		}
		.navigation{
			text-align: center;
			font-weight: 400;
			a{
				display: block;
			}
			.forgot-password{
				color: rgb(223, 113, 0);
			}
		}
		.button-holder{
			margin: 0;
			text-align: center;
			.btn-primary{
				@include border-radius(0);
				background: none;
				background: #527595;
				font-size: 16px;
				text-transform: uppercase;
			}
			
		}
		.social{
			text-align: center;
			.social-legend{
				font-weight: 400;
			}
			
			.btn{
				color: #fff;
				color: rgba(255,255,255,0.85);
				text-shadow: 0 1px 0 #333;
				text-shadow: 0 1px 0 rgba(0,0,0,0.45);
				border: 0;
				margin: 0;
				padding: 12px 20px;
				width: 30%;
				margin: 0 2%;
  				font-size: 16px;
  				font-weight: 400;
	 		}
			.btn.facebook{
				background: #3b5997;
			}
			.btn.openid{
				background: rgb(247, 140, 64);
			}
			.btn.twitter{
				background: #00acee;
			}
		}
		
		  
		
	}
		
	.image-carousel{
		.image-carousel-wrapper{
			position: relative;
		}
		.image-carousel-caption{
			position: absolute;
		  	background-color: rgba(0,66,91,0.8);
			color: #fff;
			max-width: 90%;
			max-height: 50%;
			margin: 0;
			bottom: 20px;
			left: 20px;
		}
		.slick-prev, .slick-next{
			  width: 20px;
  			  height: 40px;
		}
		.slick-prev:before, .slick-next:before {
		  	font-family: 'FontAwesome';
			font-size: 40px;
			color: black;
			/*line-height: 1;
			opacity: .75;
			color: black;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;*/
		}
		
		.slick-prev:before{
		    content: "\f104";
		}
		[dir='rtl'] .slick-prev:before{
		    content: "\f105";
		}
		.slick-next:before{
		    content: "\f105";
		}
		[dir='rtl'] .slick-next:before{
		    content: "\f104";
		}
	}
	.portlet-blogs{
		.panel-body{
			background-color: #FFF;
			margin-bottom: 10px;
			border: 1px solid $darkerGray;
		}
		.entry-date, .entry-author{
			background: none;
			padding: 0; 
		}
		.entry-date-author{
			font-weight: 400;
		}
		.entry-title{
			margin-bottom: 0;
		}
		.entry-body{
			border-top: 1px solid $lightGray;
			border-bottom: 1px solid $lightGray;
			padding: 20px 0;
			margin: 20px 0;
		}
		.continue-reading{
			float: left;
		}
	 	.stats {
			float: right;
	 	}
		
	}
	a.back-link{
		display: block;
  		margin-bottom: 15px;
		font-size: 18px;
	}
	.taglib-social-bookmarks{
		background: transparent;
		ul{
			padding: 0;
		}
	}
	
	.panel-default {
  		border-color: #ddd;
	}
	
	.panel {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
/* 		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
/* 		box-shadow: 0 1px 1px rgba(0,0,0,.05); */
	}
	
	.panel-body {
  		padding: 15px;
	}
	.page-header {
  		/*padding-bottom: 9px;
  		margin: 20px 0 30px;*/
  		border: none;
}
}
