@import "compass";
@import "mixins";

@import url(font-awesome.css);
@import url(merloround.css);
@import url(slick/slick.css);
@import url(slick/slick-theme.css);
@import url(jquery.cookiebar.css);

@import 'magnific/main';
/* @import 'photoswipe/main'; */
/* @import 'photoswipe/default-skin/default-skin'; */

/* font-family: 'merloround_serif_regular'; */
/* font-family: 'merloroundserifRgIt'; */
/* font-family: 'merloround_thin_italic'; */
/* font-family: 'merloround_thin'; */
/* font-family: 'merloround_regular'; */
/* font-family: 'merloround_medium_italic'; */
/* font-family: 'merloround_medium'; */
/* font-family: 'merloround_light_italic'; */
/* font-family: 'merloround_light'; */
/* font-family: 'merloround_regular_italic'; */
/* font-family: 'merloround_bold_italic'; */
/* font-family: 'merloround_bold'; */



$darkerGray: #bbbcbc;
$lightGray: #e6e6e6;
$defaultShadow: 0 0 15px rgba(0, 0, 0, 0.5);

.aui {
	@include respond-to(phone){
			
	}
	@include respond-to(tablet){
		
	}
	@include respond-to(desktop){
		
	}
	html{
		padding: 0;
		margin: 0;
	}
	body{
		color: rgb(34, 34, 34);
		padding: 0;
		margin: 0;
		font-family: merloround_regular,sans-serif;
/* 		background-color: #FFF; */
		background: url(../images/bg.jpg) repeat scroll 2% 2% transparent;
		background-size: 2%;
		background-color: #F3F3F3;
	}
	form {
	  	margin: 0;
	}
	a{
  		color: rgb(34, 34, 34);
	}
	a:hover {
 		color: rgb(34, 34, 34);
	}
	.site-navigation {
  		margin-bottom: 0;
	}
	#wrapper.container-fluid{
		padding: 0;
		margin: 0;
	}
	#navigation {
		.navbar-inner {
			padding: 0;
			margin: 0;
	  		background: none;
	  		border-width: 0;
	  		min-height: 36px;
  		    margin-bottom: 20px;
    		margin-top: 20px;
    		font-family: 'merloround_medium';
    		li a {
				color: rgb(34, 34, 34);			  	
				font-size: 20px;
			  	font-weight: 400;
			  	padding-bottom: 10px;
			  	padding-top: 10px;
			}
			.nav li.active>a {
			 	 background: none;
			}
			li {
	   			border-bottom: 2px solid transparent;
			}
			li:HOVER {
	   			border-bottom: 2px solid rgb(34, 34, 34);
			}
		}
	}
	#breadcrumbs {
  		margin-bottom: 0;
	}
	
	#main-content{

	}
	.modal.custom-modal{
		@include border-radius(0);
		.modal-header{
			button.close, button.btn.close.close-content{
				background-color: #000;
				border: 2px solid #FFF;
				color: #FFF;
				@include opacity(1);
			
				font-size: 16px;
				@include border-radius(12px);
				height: 24px;
				width: 24px;
				line-height: 16px;
				position: absolute;
				z-index: 1;
				right: -15px;
				top: -15px;
				
				@include box-shadow(0 3px 7px rgba(0,0,0,0.3));
				
			}
		}
	}
	.container-fluid{
		padding: 0;
		margin: 0;
	}
	.portlet-column{

	}
	
  	.portlet, .portlet-borderless-container {
  		background: none;
  		margin-bottom: 0;
  		padding: 0;
	}
  	.portlet-column-content.empty {
  		padding: 0;
	}
	.yui3-dd-drop{
		
		&.yui3-dd-drop-active-valid{
			border: 1px dotted #ccc;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&.yui3-dd-drop-active-valid.yui3-dd-drop-over{
			border: 1px dotted #000;
			
		}
	}
	@keyframes gallery-show-details {
	   from {display: none}
	    to {display: block;}
	}
	@-webkit-keyframes gallery-show-details {
	    from {display: none}
	    to {display: block;}
	}
	a.big-link-item{
		text-decoration: none;
		position: relative;
		@include box-shadow($defaultShadow);
		height: 358px;
		display: block;
		background-image:  url('../images/Gaussian Blurs_033_resized.jpg');
		background-size: 100% 100%;
		@include border-radius(3px);
		.big-link-item-text-wrapper{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100px;
			max-height: 70%;
			background-color: rgba(0,0,0,0.8);
			.big-link-item-text{
				color: #FFF;
				font-family: 'merloround_bold';    
				margin-left: 20px;
				font-size: 40px;
			}
		}
	}
	.gallery-item{
		margin-bottom: 40px;
		display: block;
		
		img{
 			@include box-shadow($defaultShadow);
		}
		.gallery-item-poster{
			position: relative;
		}
		.gallery-item-details{
			display: none;
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			max-height: 100%;
		}
	}
	.gallery-item:HOVER{
		.gallery-item-details{
			display: block;
/*     		-webkit-animation-name: gallery-show-details; Chrome, Safari, Opera */
/*     		-webkit-animation-duration: 2s; Chrome, Safari, Opera */
/*     		animation-name: gallery-show-details; */
/*     		animation-duration: 2s; */
    		
		}
	}
	.free-layout-item{
		background-color: #FFF;
		margin-bottom: 30px;
		.free-layout-item-wrapper{
			 border: 1px solid $lightGray;
			 box-sizing: border-box;
			.free-layout-item-image{
				display: block;
			}
			.free-layout-item-caption{
			}
			.free-layout-item-link{
				  margin-top: 20px;
			}
			.free-layout-item-title{
				padding: 0 15px;
			}
		}
	}
	#footer-wrapper{
		background: #FFF;
		padding: 20px 0;
		margin-top: 100px;
		border-top: 1px solid $darkerGray;
	}
	#footer {
  		text-align: center;
	}
	footer .social a {
		display: inline-block;
		padding: 8px 10px 12px;
		margin: 0;
		height: 40px;
		position: relative;
		transition: all .1s ease-out;
		-webkit-transition: all .1s ease-out;
		width: 40px;
		img.hover {
			background-color: #f8f8f8;
			height: 40px;
			width: 40px;
			top: 0;
			left: 0;
			@include border-radius(20px);
			opacity: 0;
			position: absolute;
		}
		.hover{
			-webkit-animation-name: Social;
	  		-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 8s;
			-webkit-animation-delay: 0s;
			animation-name: Social;
			animation-iteration-count: infinite;
			animation-timing-function: ease-out;
			animation-duration: 8s;
			animation-delay: 0s;
		}
	}
	
	#cookie-bar{
		p{
			.cb-enable{
			
			}
			.cb-policy{
			}
		}
	}
	.portlet-login{
		width: 600px;
		margin: 0 auto;
		background: #fff;
		border: 1px solid #eee;
		@include border-radius(6px);
		max-width: 600px;
		margin: 40px auto;
		padding: 12px;
		.navigation {
			background: transparent;
			border-top: none;
			padding: 10px;
		}
		form{
		}
		.form-horizontal{
			input, select{
				margin-left: 20px;
			}
			.control-label{
				font-weight: 400;
			}
			#recaptcha_widget_div{
				margin-left: 180px;
			}
		} 
		h1{
			font-size: 24px;
			line-height: 120%;
			text-align: center;
			font-weight: normal;
			margin-bottom: 12px;
		}
		.navigation{
			text-align: center;
			font-weight: 400;
			a{
				display: block;
			}
			.forgot-password{
				color: rgb(223, 113, 0);
			}
		}
		.button-holder{
			margin: 0;
			text-align: center;
			.btn-primary{
				@include border-radius(0);
				background: none;
				background: #527595;
				font-size: 16px;
				text-transform: uppercase;
			}
			
		}
		.social{
			text-align: center;
			.social-legend{
				font-weight: 400;
			}
			
			.btn{
				color: #fff;
				color: rgba(255,255,255,0.85);
				text-shadow: 0 1px 0 #333;
				text-shadow: 0 1px 0 rgba(0,0,0,0.45);
				border: 0;
				margin: 0;
				padding: 12px 20px;
				width: 30%;
				margin: 0 2%;
  				font-size: 16px;
  				font-weight: 400;
	 		}
			.btn.facebook{
				background: #3b5997;
			}
			.btn.openid{
				background: rgb(247, 140, 64);
			}
			.btn.twitter{
				background: #00acee;
			}
			.btn.google{
				background: #d73d32;
			}
		}
	
		
	}
	.image-carousel:hover{
		.slick-prev, .slick-next{
   			display: block !important;
		}
		.slick-dots{
			display: block !important;
		}
	}	
	.image-carousel{
		@include box-shadow($defaultShadow);
		height: 500px;
		.slick-list {
			height: 100%;
			.slick-track{
				height: 100%;
			}
		}
		
		.slick-dots{
			bottom: 10px;
		  	margin: 0;
		  	left: 10px;
		  	width: auto;
		  	display:none !important;
		  	li button:before{
				font-size: 10px;
				color: white;
			}
			li.slick-active button:before {
  				opacity: .75;
  				color: rgb(255, 255, 255);
			}
		}
		.image-carousel-wrapper{
			position: relative;
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		.image-carousel-caption{
			position: absolute;
			color: #fff;
			max-width: 90%;
			max-height: 50%;
			margin: 0;
			bottom: 100px;
			left: 100px;
			font-size: 60px;
			line-height: 60px;
		}
		.slick-prev, .slick-next{
			  width: 60px;
   			  height: 60px;
   			  margin-top: -30px;
   			  display: none !important;
  			  background-color: rgba(255, 255, 255 ,0.5);
		}
		.slick-prev:HOVER,.slick-prev:ACTIVE, .slick-next:HOVER,.slick-next:ACTIVE{
			 background-color: rgba(255, 255,255,1);
		}
		.slick-prev:before, .slick-next:before {
		  	font-family: 'FontAwesome';
		  	display: block;
			font-size: 40px;
			line-height: 60px;
			color: black;
		}
		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0
		}
		.slick-prev:before{
		    content: "\f104";
		}
		[dir='rtl'] .slick-prev:before{
		    content: "\f105";
		}
		.slick-next:before{
		    content: "\f105";
		}
		[dir='rtl'] .slick-next:before{
		    content: "\f104";
		}
		
	}
	.portlet-blogs{
		.panel-body{
			background-color: #FFF;
			margin-bottom: 10px;
/* 			border: 1px solid $darkerGray; */
			@include box-shadow($defaultShadow);
		}
		.entry-date, .entry-author{
			background: none;
			padding: 0; 
		}
		.entry-date-author{
			font-weight: 400;
		}
		.entry-title{
			margin-bottom: 0;
		}
		.entry-body{
			border-top: 1px solid $lightGray;
			border-bottom: 1px solid $lightGray;
			padding: 20px 0;
			margin: 20px 0;
			.asset-small-image{
			 	width: 100%;
			}
			.asset-small-summary{
				margin-top: 10px;
			}
			.blogs-entry-content{
				margin-top: 10px;
			}
		}
		.continue-reading{
			float: left;
		}
	 	.stats {
			float: right;
			span{
				color: #999;
			}
	 	}
		
	}
	a.back-link{
		display: block;
  		margin-bottom: 15px;
		font-size: 18px;
	}
	.taglib-social-bookmarks{
		background: transparent;
		ul{
			padding: 0;
		}
	}
	
	.panel-default {
  		border-color: #ddd;
	}
	
	.panel {
		margin-bottom: 20px;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	
	.panel-body {
  		padding: 15px;
	}
	.page-header {
  		border: none;
	}
	.btn{
		@include box-shadow(none);
		background-image: none !important;
		border: 0
	}
	.btn-primary{
	
	}
}
