//
// Responsive: Large desktop and up
// --------------------------------------------------

@include respond-to(desktop){
  // Fixed grid
  @include grid-core($gridColumnWidthDesktop, $gridGutterWidthDesktop);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidthDesktop, $fluidGridGutterWidthDesktop);

  // Input grid
  @include grid-input($gridColumnWidthDesktop, $gridGutterWidthDesktop);

  // Thumbnails
  .thumbnails {
    margin-left: -$gridGutterWidthDesktop;
  }
  .thumbnails > li {
    margin-left: $gridGutterWidthDesktop;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

}
