.aui{
	.shopping-cart{
		.error-message{
			color: red;
			text-align: center;
		}
		
		.cart-table-wrapper{
			padding: 40px 30px;
			background-color: #FFF;
			border: 1px solid #ddd;
			.cart-table{
				width: 100%;
			 	border-spacing: 0;
			 	.table-header {
					background: #f0f0f0;
					padding: 15px 0;
					td{
						color: #333;
						font-weight: bold;
						font-size: 18px;
					}
				}
			
				tr.product-row, tr.discount-row{
					border-bottom: 1px solid #F0F0F0;
				}
				
				td {
					color: #333;
					text-decoration: none;
					font-size: 18px;
					padding: 10px;
					vertical-align: middle;
								
					.remove-from-shopping-cart-button, .remove-from-shopping-cart-button:hover, .remove-from-shopping-cart-button:focus{
						text-decoration: none;
					}
					
					
					input[type="number"]{
						width: 30px;
					}
					
					.product-row{
						border-bottom: 1px solid #e1e1e1;
						.update-quantity{
							font-size: 12px;
							display: block;
							cursor: pointer;
							width: 55px;
						}
						
						
					}
		
					.product-row.cart-price-cell{
						text-align: right;
					}
					.cart-item-img{
						width: 70px;
					}
					.coupon-apply-input{
						margin: 0;
						padding: 3px;
						width: 150px;
					}
				}
				
				.checkout-btn-wrapper{
					margin-top: 50px;
					.checkout-btn{
						float: right;
					}
				}
				.cart-error-messages{
					color: red;
					text-align: center;
				}
			}
			
		}

	
	}
	
}
