
.aui .shopping-store-settings .control-group {
 	margin-bottom: 10px;
}

.aui .shopping-store-settings{
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	padding: 40px 30px;
	position: relative;
	
}
.aui .shopping-store-settings .email-settings{
	margin: 20px 0;
}
.aui .shopping-store-settings .email-settings .email-editor-wrapper{
	  border: 1px solid #ccc;
	  margin: 5px 0;
}

.aui .payment-test-fields-wrap{
	float: left;
	margin: 10px;
	border: 1px solid #CCC;
	padding: 5px;
}