//
// Responsive: Large desktop and up
// --------------------------------------------------

@include respond-to(smlDesktop){
  // Fixed grid
  @include grid-core($gridColumnWidthSmlDesktop, $gridGutterWidthSmlDesktop);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidthSmlDesktop, $fluidGridGutterWidthSmlDesktop);

  // Input grid
  @include grid-input($gridColumnWidthDesktop, $gridGutterWidthSmlDesktop);

  // Thumbnails
  .thumbnails {
    margin-left: -$gridGutterWidthSmlDesktop;
  }
  .thumbnails > li {
    margin-left: $gridGutterWidthSmlDesktop;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

}
