.aui .shopping-shipping-management .control-group, .aui .shopping-shipping-management .checkbox {
 	float: left;
 	margin: 0 15px;
 	margin-bottom: 10px;
 	width: 40%;
}
.aui .shopping-shipping-management .control-group input, .aui .shopping-shipping-management .control-group select{
	margin: 0;
	width: 100%;
}
.aui .shopping-shipping-management{
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	padding: 40px 30px;
	position: relative;
}

.aui .shopping-shipping-management table.shippings-table{
	table-layout: fixed;
}
.aui .shopping-shipping-management table.shippings-table td{
	padding: 5px;
	overflow: hidden;
}
.aui .shopping-shipping-management table.shippings-table td.shipping-actions{
	width: 50px;
}
.aui .shopping-shipping-management table.shippings-table td.shipping-actions a{
	display: inline-block;
	text-decoration: none;
}
.aui .shopping-shipping-management table.shippings-table td.shipping-actions a:HOVER {
	text-decoration: none;
}
/* .aui .shopping-shipping-management .open-coupon-btn, .aui.shopping-shipping-management .open-new-coupon-btn{ */
/* 	display: inline-block; */
/* } */

